body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
}
.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.option-container button {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.option-container button:hover {
    background-color: #0056b3;
}
.form-container {
    display: none;
    margin-top: 20px;
}
select, input[type="text"], input[type="date"], textarea, button {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
textarea {
    height: 200px;
}
.notification {
    display: none;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    font-size: 16px;
    text-align: center;
}
#viewRegistrationListBtn{
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}